#intro{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.introImage{
    position: absolute;
    top: 4rem;
    right:0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent{
    height: 100vh;
    width: 100vw;    
    padding: 0 2rem;
    font-size: 3rem;
    font-weight:700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
}

.introTitle{
    font-size: 1.75rem;
    font-weight: 100;
}

.introName{
    color: yellow;
}

.introPara{
    font-size: medium;
    font-weight: 100;
}

.introButton{
    background: white;
    height: 10rem;
    width:20rem;
    margin: 1rem 0;
    padding: 0.75rem 2rem;
    border:none;
    border-radius: 2rem;
}

.buttonImage{
    object-fit: cover;
    height: 9rem;
    width: 8rem;
    margin: 0 1rem;
    background: transparent;
    cursor: pointer;
}

@media screen and (max-width: 768px){
    .introImage{
        right: -10vw;
    }

    .introContent{
        font-size: 10vw;
    }

    .introTitle{
        font-size: 4.5vw;
        font-weight: 100;
    }
}

@media screen and (max-width: 420px){
    .introImage{
        right: -20vw;
    }
}